.drop-element, .drop-element:after, .drop-element:before, .drop-element *, .drop-element *:after, .drop-element *:before {
  box-sizing: border-box; }

.drop-element {
  position: absolute;
  display: none; 
  z-index: 10;
}
  .drop-element.drop-open {
    display: block; }

.drop-element.drop-theme-taxjar-popovers {
  max-width: 100%;
  max-height: 100%; }
  .drop-element.drop-theme-taxjar-popovers .drop-content {
    border-radius: 5px;
    position: relative;
    font-family: inherit;
    background: #343434;
    color: #fff;
    padding: 1em;
    font-size: 1.1em;
    line-height: 1.5em; }
    .drop-element.drop-theme-taxjar-popovers .drop-content:before {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-color: transparent;
      border-width: 10px;
      border-style: solid; }
  .drop-element.drop-theme-taxjar-popovers.drop-element-attached-bottom.drop-element-attached-center .drop-content {
    margin-bottom: 10px; }
    .drop-element.drop-theme-taxjar-popovers.drop-element-attached-bottom.drop-element-attached-center .drop-content:before {
      top: 100%;
      left: 50%;
      margin-left: -10px;
      border-top-color: #343434; }
  .drop-element.drop-theme-taxjar-popovers.drop-element-attached-top.drop-element-attached-center .drop-content {
    margin-top: 10px; }
    .drop-element.drop-theme-taxjar-popovers.drop-element-attached-top.drop-element-attached-center .drop-content:before {
      bottom: 100%;
      left: 50%;
      margin-left: -10px;
      border-bottom-color: #343434; }
  .drop-element.drop-theme-taxjar-popovers.drop-element-attached-right.drop-element-attached-middle .drop-content {
    margin-right: 10px; }
    .drop-element.drop-theme-taxjar-popovers.drop-element-attached-right.drop-element-attached-middle .drop-content:before {
      left: 100%;
      top: 50%;
      margin-top: -10px;
      border-left-color: #343434; }
  .drop-element.drop-theme-taxjar-popovers.drop-element-attached-left.drop-element-attached-middle .drop-content {
    margin-left: 10px; }
    .drop-element.drop-theme-taxjar-popovers.drop-element-attached-left.drop-element-attached-middle .drop-content:before {
      right: 100%;
      top: 50%;
      margin-top: -10px;
      border-right-color: #343434; }
  .drop-element.drop-theme-taxjar-popovers.drop-element-attached-top.drop-element-attached-left.drop-target-attached-bottom .drop-content {
    margin-top: 10px; }
    .drop-element.drop-theme-taxjar-popovers.drop-element-attached-top.drop-element-attached-left.drop-target-attached-bottom .drop-content:before {
      bottom: 100%;
      left: 10px;
      border-bottom-color: #ebebeb; }
  .drop-element.drop-theme-taxjar-popovers.drop-element-attached-top.drop-element-attached-right.drop-target-attached-bottom .drop-content {
    margin-top: 10px; }
    .drop-element.drop-theme-taxjar-popovers.drop-element-attached-top.drop-element-attached-right.drop-target-attached-bottom .drop-content:before {
      bottom: 100%;
      right: 10px;
      border-bottom-color: #ebebeb; }
  .drop-element.drop-theme-taxjar-popovers.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-top .drop-content {
    margin-bottom: 10px; }
    .drop-element.drop-theme-taxjar-popovers.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-top .drop-content:before {
      top: 100%;
      left: 10px;
      border-top-color: #ebebeb; }
  .drop-element.drop-theme-taxjar-popovers.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-top .drop-content {
    margin-bottom: 10px; }
    .drop-element.drop-theme-taxjar-popovers.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-top .drop-content:before {
      top: 100%;
      right: 10px;
      border-top-color: #ebebeb; }
  .drop-element.drop-theme-taxjar-popovers.drop-element-attached-top.drop-element-attached-right.drop-target-attached-left .drop-content {
    margin-right: 10px; }
    .drop-element.drop-theme-taxjar-popovers.drop-element-attached-top.drop-element-attached-right.drop-target-attached-left .drop-content:before {
      top: 10px;
      left: 100%;
      border-left-color: #ebebeb; }
  .drop-element.drop-theme-taxjar-popovers.drop-element-attached-top.drop-element-attached-left.drop-target-attached-right .drop-content {
    margin-left: 10px; }
    .drop-element.drop-theme-taxjar-popovers.drop-element-attached-top.drop-element-attached-left.drop-target-attached-right .drop-content:before {
      top: 10px;
      right: 100%;
      border-right-color: #ebebeb; }
  .drop-element.drop-theme-taxjar-popovers.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-left .drop-content {
    margin-right: 10px; }
    .drop-element.drop-theme-taxjar-popovers.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-left .drop-content:before {
      bottom: 10px;
      left: 100%;
      border-left-color: #ebebeb; }
  .drop-element.drop-theme-taxjar-popovers.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-right .drop-content {
    margin-left: 10px; }
    .drop-element.drop-theme-taxjar-popovers.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-right .drop-content:before {
      bottom: 10px;
      right: 100%;
      border-right-color: #ebebeb; }

.drop-element.drop-theme-taxjar-popovers .drop-content {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 300px;
  padding: 10px;
  font-size: 13px; }
  .drop-element.drop-theme-taxjar-popovers .drop-content .drop-content-inner {
    border: 1px solid #dbdbdb;
    padding: 14px;
    background: #fff;
    overflow: hidden;
    width: 280px; }
    .drop-element.drop-theme-taxjar-popovers .drop-content .drop-content-inner .title {
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 12px;
      font-weight: normal;
      line-height: 1; }
    .drop-element.drop-theme-taxjar-popovers .drop-content .drop-content-inner p:last-child {
      margin-bottom: 0; }